## Mission to Mars

In [1]:
# import dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

### NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)
time.sleep(1)

In [4]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve the latest element that contains news title and news_paragraph
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

# Display scrapped data 
print(news_title)
print(news_p)

Mars 2020 Rover Gets a Super Instrument
With its rock-zapping laser, the SuperCam will enable the science team to identify the chemical and mineral makeup of its targets on the Red Planet.

### JPL Mars Space Images - Featured Image

In [5]:
# URL of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(1)

In [6]:
# Go to 'FULL IMAGE'
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1)

In [7]:
# Go to 'more info'
browser.click_link_by_partial_text('more info')
time.sleep(1)

In [8]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
jpl_soup = BeautifulSoup(html, 'html.parser')

In [9]:
# Scrape the URL
featured_image_url = jpl_soup.find('figure', class_='lede').a['href']
featured_image_url = f'https://www.jpl.nasa.gov{featured_image_url}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16842_hires.jpg

### Mars Weather

In [10]:
#URL to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(1)

twitter_html = browser.html
twitter_soup = BeautifulSoup(twitter_html, 'html.parser')

In [11]:
#mars_weather
mars_weather = twitter_soup.find('p', class_="TweetTextSize").text
print(mars_weather)

InSight sol 216 (2019-07-06) low -102.5ºC (-152.5ºF) high -24.9ºC (-12.8ºF)
winds from the SSE at 4.6 m/s (10.2 mph) gusting to 15.8 m/s (35.4 mph)
pressure at 7.60 hPapic.twitter.com/fwGott1wRL

### Mars Facts

In [12]:
url = 'https://space-facts.com/mars/'

In [13]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
df.columns = ['Description','Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# df.set_index('Description', inplace=True)
# df

In [17]:
html_table = df.to_html(index=False)
# html_table.replace('\n', '')

In [18]:
df.to_html('table.html',index=False)

In [19]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html

### Mars Hemispheres

In [29]:
# URL of page to be scraped
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)
time.sleep(1)

In [30]:
# Create BeautifulSoup object; parse with 'html.parser'
hemi_html = browser.html
soup = BeautifulSoup(hemi_html, 'html.parser')

In [31]:
items = soup.find_all('div', class_='item')
domain_url = 'https://astrogeology.usgs.gov'
hemisphere_image_urls = []

for i in items:
    #get titles
    title = i.find('h3').text
    #get link to inner pages
    page_url = i.find('a', class_="itemLink product-item")['href']
    #visit inner page and parse
    browser.visit(domain_url + page_url)
    page_html = browser.html
    soup = BeautifulSoup(page_html, 'html.parser')
    #get img_urls
    img_url = domain_url + soup.find('img', class_="wide-image")['src']
    #append title and image urls to dictionary
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
        
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]